.button {
    width: 80%;
    height: 30%;
    max-width: 80%;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    font-size: 20px;
}
