#title {
    -unity-text-align: upper-center;
    -unity-font-style: bold;
    font-size: 26px;
}

#sub-title {
    font-size: 18px;
    -unity-text-align: upper-center;
    -unity-font-style: bold;
}
